# Ignorar arquivos temporários e de cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar perfis de navegador e caches
browser_profile/
Driver_Notes/
*.log
*.dat
*.db
*.sqlite
*.lock

# Ignorar ambiente virtual, se existir
venv/
env/

# Ignorar executáveis
*.exe
*.dll
*.bin
